.card{
    /* border: 1px solid red; */
    min-width: 330px;
    max-width: 400px;
    color: black;
    text-align: center;

}
.card-img-overlay{
    padding-top: 100px;
}
.card-title{
    font-weight: bold;
}

.cardIcon{
    max-width: 80px;
}

.cardText{
    color: black;
    width: 100%;
    padding: 0 55px;
}
.bg-img{
    padding: none;
    width: 100%;
    height: 100%;
}
