
@import 'variables.scss';

.App {
  text-align: center;
  background-color: $bg-color;
}

body {
  margin: 0;
  color: $hd-color;
  background-color: $bg-color;
}

.navbar-brand{
  font-family: $hd-font;
}

h1, h2, h3 {
  font-family: $hd-font;
}

code {
  font-family: $code-font;
}

a.login  {
  color: #5EBDF9;
}

a:hover.login  {
  color: #EEF8FE;
}

.card {
  border: none;
  background-color: $bg-color;
}

.card-text{
  color: white;
}
.card-title{
  color: white;
}

#digital {
  font-family: $digital;
}

.selectedBike{
  font-size: 20px;
  font-weight: 700;
  text-transform:capitalize;
}