@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');

$bg-color: #504538;

$hd-color: white;

$hd-font: 'Space Mono', monospace;

$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;